/*.autoshown{
    display: flex;
    flex-wrap: wrap;
    width: 49%;
}*/
#mapid {
    position: absolute;
    height: 100%;
    width: 49%;
    /*width: 50vw;*/
    border: 2px solid black;
    box-sizing: border-box;
}
#pin\:16154530610149117952{
    position:fixed;
    pointer-events:none;
    display:none;
    width: 32px;
}
#result\:16154530610149117952{
    position: absolute;
    height: 100%;
    right: 0px;
    width: 50%;
    display: inline-block;
    overflow-y: scroll;
    border: 2px solid black;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
